body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-body-tertiary {
  background-color: #ffc130 !important;
}

.nav-link {
  font-size: 22px;
  color: white;
}

#buttons {
  background-color: #f7c95d;
}

#prodcontain {
  display: flex;
  flex-direction: row;
}

#proddisplay {
  padding: 20px;
}

.card {
  box-shadow: 2px 5px 10px #f7c95d;
}

.card-text {
  font-size: 18px;
  font-style: oblique;
}

#details{
  text-transform: capitalize;
  font-weight: bold;
  text-emphasis: bold;
}

#adminDetails{
  text-transform: capitalize;
}

#priceText{
  font-size: 35px;
}

#prodDetails{
  font-size: 20px;
}

#prodImg{
  max-width: 170%;
  height: auto;
}

#cartImg{
  max-width: 20%;
  height: auto;
}